<div>
    <h1>IronMusic</h1>
    <small>this comes from the home.hbs now with 15% more router!</small><br><br>
    <form action="" id="searchForm">
        <input type="text" name="search" placeholder="Search your favorite artist!">
        <input type="submit">
    </form>
</div>